<!DOCTYPE html>
<html>
<head>
    <!-- <title>Edit a template</title> -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/css/email.css"/>
    <link rel="stylesheet" href="/css/template-editor.css"/>
    <link rel="stylesheet" type="text/css" href="/css/letter-preview.css"/>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/email-template-editor.js" id="<%= id %>"></script>
</head>
<div id="confirm" class="modal hide fade">
    <div class="modal-body">
      Are you sure?
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary" id="save">Save</button>
      <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
  </div>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1 class="title"><%= title %></h1>

    <h2 class="section-header">Template Name</h2>
    <div class="error-container">
        <div id="name-container">
            <input id="name-container-text-field" contentEditable="true" value="<%= templateName %>">
        </div>
    </div>

    <h5> Choose from inactive templates: </h5>
    <select id="email-templates" name="templates">
        <% var options = []; %>
        <% for (var template of templates) {  
            if(template.active == false){
            %>
          <option data-title="<%= template.title %>" data-subject= "<%= template.subject %>" data-body= "<%= template.body_text %>"} ><%= template.title %></option>
        <% }} %>
    </select>

    <form class="input-form" method="POST" action="/email-template-editor"></form>
    
    <h2 class="section-header">Subject</h2>
    <div id="email-subject-container" >
        <input id="email-subject-text-area" id="text" name="subject" value="<%= subject %>" style='width:100%'> 
    </div>
    <h2 class="section-header">Content</h2>
    <h3>&lt!TAG_NAME&gt in the letter will be replaced by the corresponding recomendee's information</h3>
    <h4>Tags</h4>

    <% for (var tag of tags) {  %>
        <button id="<%= tag %>" name="tag_buttons" value ="<%= tag %>"><%= tag %></button>
    <% } %>

    <div id="email-body-container">
        <input id="email-body-text-area" contentEditable="true" id="text" name="body" value="<%= body %>" style='width:100%'>
    </div>
    <!-- onclick="saveEmailTemplate()" -->
    <form onSubmit="JavaScript:saveEmailTemplate()">
        <button name="save_template" class="email-button" id = "saveTemplate" >Save</button>
    </form>
</form>

  
</html>



<script>
    $("#email-templates").change(function () {
        document.getElementById("name-container-text-field").value = $(this).find(':selected').data('title');
        document.getElementById("email-subject-text-area").value = $(this).find(':selected').data('subject');
        document.getElementById("email-body-text-area").value = $(this).find(':selected').data('body');
    });
    

    $("button[name='tag_buttons']").on("click", function(e) {
        var val = $(this).val();
        document.getElementById("email-body-text-area").value += " "+ val;
    }); 

    $('button[name="save_template"]').on('click', function(e) {
        var $form = $(this).closest('form');
        e.preventDefault();
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
            })
            .one('click', '#save', function(e) {
            $form.trigger('submit');
            });
    });
</script>