<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/css/email-template-editor.css"/>
    <link rel="stylesheet" href="/css/template-editor.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/modal.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/email-template-editor.js" id="<%= id %>"></script>
</head>

<body>
    <div class="templates">
    <header>
        <% include ../partials/header %>
    </header>
    <h1 class="title"><%= title %></h1>

    <h2 class="section-header">Template Name</h2>
    <div class="error-container">
        <div id="name-container">
            <input id="name-container-text-field" contentEditable="true" value="<%= templateName %>">
        </div>
    </div>

    <form class="input-form" method="POST" action="/email-template-editor"></form>
    
    <h2 class="section-header">Subject</h2>
    <div class="error-container">
        <div id="email-subject-container" >
            <input id="email-subject-text-area" id="text" name="subject" value="<%= subject %>" style='width:100%'> 
        </div>
    </div>
    <h2 class="section-header">Content</h2>
    <div class="error-container">
        <div id="letter-container">
            <h3>&lt!TAG_NAME&gt in the letter will be replaced by the corresponding recomendee's information</h3>
        </div>
    </div>
    <div id="tag-container">
        <h4 class="inline-block"> Tags: </h4>
        <% for (var tag of tags) {  %>
            <button class="button tag-button" id="<%= tag %>" name="tag_buttons" value ="<%= tag %>"><%= tag %></button>
        <% } %>
    </div>

    <div class="error-container">
        <div id="email-body-container">
            <textarea id="email-body-text-area" contentEditable="true" name="body" value="<%= body %>"><%= body %></textarea> 
        </div>
    </div>
    <div class="flex-row">
        <button id="save-button" onclick="saveEmailTemplate()">Save</button>
    </div>
    <!-- <form onSubmit="JavaScript:saveEmailTemplate()">
        <button name="save_template" class="email-button" id = "saveTemplate" >Save</button>
    </form> -->
</form>  
</div>
</html>

<div id="confirm" class="modal">
    <div class="modal-content">
        <div class="close-container">
                <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-title"> Are you sure? </div>
            <button type="button" data-dismiss="modal" class="modal-submit" id="save">Save</button>
            <button type="button" data-dismiss="modal" class="modal-submit">Cancel</button>
        </div>
    </div>
</div>
    
<script>
    $("#email-templates").change(function () {
        document.getElementById("name-container-text-field").value = $(this).find(':selected').data('title');
        document.getElementById("email-subject-text-area").value = $(this).find(':selected').data('subject');
        document.getElementById("email-body-text-area").value = $(this).find(':selected').data('body');
    });
    

    $("button[name='tag_buttons']").on("click", function(e) {
        var val = $(this).val();
        var bodyValue = document.getElementById("email-body-text-area").value;
        var content = document.createTextNode(" " + val);
        newBodyValue = bodyValue + " " + val;
        document.getElementById("email-body-text-area").value = newBodyValue;
    }); 


    $('button[name="save_template"]').on('click', function(e) {
        console.log("clicked");
        var $form = $(this).closest('form');
        var modal = document.getElementById('confirm');
        modal.style.display = "block";
        e.preventDefault();
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
            })
            .one('click', '#save', function(e) {
            $form.trigger('submit');
            });
    });

</script>