<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/form-entry.css" />
    </head>
    <body>
        <div class="header"></div>
        <p class="title"><%= title %></p>
        <form id="RecommendeeForm">
            <% for (var q of questions) { %>
                <div class="question" id=<%= q.type %>>
                    <p><%= q.question %></p>
                    <% switch(q.type) {
                        case 'Text': %>
                            <textarea form="RecommendeeForm" placeholder="Enter response..." id=<%= q.number %> name=<%= q.number %>></textarea>
                            <% break;
                        case 'Radio Button': %>
                            <% for (var option of q.options) { %>
                                <div class="option-container">
                                    <input type="radio" value=<%= option.fill %> name=<%= q.number %> />
                                    <label><%= option.option %></label>
                                </div>
                            <% } %>
                            <% break;
                        case 'Checkbox': %>
                            <% for (var option of q.options) { %>
                                <div class="option-container">
                                    <input type="checkbox" value=<%= option.fill %> name=<%= q.number %> />
                                    <label class="block"><%= option.option %></label>
                                </div>
                            <% } %>
                            <% break;
                        default: %>
                            <%
                    } %>
                </div>
            <% } %>
            <input class="input-submit" type="button" value="Submit" onclick="openModal()" />
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="close-container">
                        <span class="close" onclick="closeModal()">&times;</span>
                    </div>
                    <p class="modal-title">Confirm Submission?</p>
                    <button class="input-submit" type="button" value="Confirm" onclick="submitForm('<%= form._id %>')">Confirm</button>
                </div>
            </div>
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // When the user clicks on the button, open the modal
        function openModal() {
            modal.style.display = "block";
            return false;
        }

        // When the user clicks on <span> (x), close the modal
        function closeModal() {
            modal.style.display = "none";
            return false;
        }

        function submitForm(id) {
            var responseData = $("#RecommendeeForm").serializeArray().reduce(function (obj, item) {
                if (obj[item.name]) {
                    if (typeof(obj[item.name] != Array)) {
                        var arr = [obj[item.name], item.value];
                        obj[item.name] = arr;
                    } else {
                        obj[item.name].push(item.value)
                    }
                } else {
                    obj[item.name] = item.value;
                }
                return obj;
            }, {});

            $.ajax({
                url: 'http://localhost:3000/form-entry',
                data: {
                    id: id,
                    responseData
                },
                type: 'POST',
                complete: function () {
                    console.log('complete');
                },
                success: function (form) {
                    console.log('success');
                    window.location.href = ('/form-completed');
                },
                error: function () {
                    console.log('error');
                }
            });

            return false;
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</html>