<!DOCTYPE html>
<html>

<head>
    <title>LETTER OF RECOMMENDATION QUESTIONNAIRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/form-entry.css" />
    <script>
        var questions = <%- JSON.stringify(questions) %>
        console.log(questions);
    </script>
</head>

<body>
    <form id="RecommendeeForm">
        <div class="container-fluid" id="outside">
            <div class="row justify-content-md-center">
                <div class="col-md-7 col-md-offset-5">
                    <div id="form-title-container" class="form-group center-block">
                        <p id="form-title">LETTER OF RECOMMENDATION QUESTIONNAIRE</p>
                    </div>
                    <% for (var q of questions) { %>
                        <div class="form-group center-block">
                            <% if (q.optional) { %>
                                <p class="question">
                                    <%= q.question %>
                                </p>
                            <% } else if (!q.optional || q.type == 'Custom') { %>
                            <div class="question-container">
                                <p id="question" class="question">
                                    <%= q.question %>
                                </p>
                                <p id="required" class="question">*</p>
                            </div>
                            <% } %>
                            <% if (q.type === 'Text') { %>
                                <% if (q.optional) { %>
                                    <input type="text" class="form-control" name="<%= q.number %>">
                                <% } else { %>
                                    <input type="text"  required class="form-control" name="<%= q.number %>">
                                <% } %>
                            <% } %>
                            <% if (q.type === 'Radio Button') { %>
                                <% if (q.optional) { %>
                                    <% for (var option of q.options) { %>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="<%= option.fill %>" name="<%= q.number %>">
                                            <label class="form-check-label" for="<%= option.option %>"> <%= option.option %> </label>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                    <% for (var option of q.options) { %>
                                        <div class="form-check">
                                            <input  required class="form-check-input" type="radio" value="<%= option.option %>" name="<%= q.number %>">
                                            <label class="form-check-label" for="<%= option.option %>"> <%= option.option %> </label>
                                        </div>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <% if (q.type === 'Checkbox') { %>
                                <% for (var option of q.options) { %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="<%= option.fill %>" name="<%= q.number %>">
                                        <label class="form-check-label" for="<%= option.option %>"> <%= option.option %> </label>
                                    </div>
                                <% } %>
                            <% } %>
                            <% if (q.type === 'Custom') { %>
                                <input type="text" class="form-control" id="<%= q.number %>">
                                <button type="button" id="add_button_<%= q.number %>" onclick="addCustomElement(event, this, <%= q.number %>)">Add</button>
                                <ul id="list_<%= q.number %>"></ul>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div id="button-container" class="row justify-content-md-center">
                <div class="col-sm-2 col-sm-offset-5 text-center">
                    <button class="btn btn-primary btn-block" type="submit" onclick="return submitForm(event, '<%= form._id %>')">Submit Form</button>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function addCustomElement(e, ctx, id) {
            let input_elem = $('input[id = "' + id + '"]');
            if (input_elem.val().trim()) {
                let listItem = document.createElement("li");
                listItem.className = 'item_' + id;
                listItem.append(input_elem.val());
                
                let removeButton = document.createElement("button");
                removeButton.type = "button";
                removeButton.style.width = '10px'; 
                removeButton.style.marginLeft= '10px';
                removeButton.style.marginBottom='100px';
                removeButton.style.background = "blue";
                removeButton.style.height='3px';
                removeButton.onclick = removeCustom;

                listItem.append(removeButton);
                $('#list_' + id).append(listItem);
            }
            input_elem.val('');
        }

        function removeCustom() {
            this.parentElement.remove();
        }

        function addError(field, message) {
            var container = field.parent();
            var error = $('<div></div>');
            var errorText = $('<p></p>');
            field.addClass('error');
            error.addClass('arrow-box');
            errorText.addClass('arrow-text');
            errorText.text('Error: ' + message);
            error.append(errorText);
            container.append(error);

            return error;
        }

        function clearErrors() {
            for (var i = 0; i < errors.length; i++) {
                errors[i].error.remove();
                errors[i].field.removeClass('error');
            }
            errors.length = 0;
        }

        /**
         * Student submits form; takes responses and serializes it
         * Fired when student presses confirm button in Confirm Submission Modal
         * @param id
         * @returns {boolean}
         */
        function submitForm(e, id) {
            submission = $("#RecommendeeForm").serializeArray();

            customEntries = {}
            $("li[class^='item']").each( (_, val) => {
                console.log($(val));
                let index = $(val).attr('class').substr(-1);
                if (!customEntries[index]) {
                    customEntries[index] = [];
                }
                customEntries[index].push($(val).text());
            });
            for (let prop in customEntries) {
                submission[submission.length] = {name: prop, value: customEntries[prop]};
            }
            let new_submission = [];//Array(questions.length).fill([]);
            for (let i = 0 ; i < questions.length ; i++) {
                new_submission.push([]);
            }
            for (let question in submission) {
                question_index = parseInt(submission[question].name);
                let value = submission[question].value;
                if (typeof(value) == "object") {
                    new_submission[question_index - 1].push(...value);
                } else {
                    new_submission[question_index - 1].push(value);
                }
            }
            $.ajax({
                url: '/form-entry',
                data: {
                    id: id,
                    responseData: new_submission,
                },
                type: 'POST',
                complete: function() {
                    console.log('complete');
                },
                success: function(form) {
                    console.log('success');
                    window.location.href = ('/form-completed');
                },
                error: function() {
                    console.log('error');
                }
            });
            return false;
        }
    </script>
</body>

</html>
