<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    <h1><%= header %></h1>
    <form name="form1" method="POST" action="/">
      <table>
        <tr>
          <td>First name</td>
          <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
          <td>Last name</td>
          <td><input type="text" name="lname" ></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
      </table>
    </form>
    <% if(userValue!=null){ %>
    <div> Saved user <%= userValue.first %>  <%= userValue.last %> </div>
    <%}%>
  </body>
</html>
