<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/letter-preview.css"/>
        <link rel="stylesheet" type="text/css" href="/css/email.css"/>
        <link rel="stylesheet" type="text/css" href="/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/css/template-editor.css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/letter-preview.js" id="'<%= id %>'"></script>
        <script type="text/javascript" src="/javascripts/html2pdf.bundle.min.js" id="'<%= id %>'"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.1/trix.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    </head>
    <body>


    <div class="background">
        <header>
            <% include ../partials/header %>
        </header> 
        <p class="title">Send an email to <%= title %></p>
        <div style="display: none;" id="formId" value="<%= id %>"><%= id %></div>
        <div style="display: none;" id="form" value="<%= form %>"><%= form %></div>
        
        <div id="email-preview-container">
            <div class="flex-display">
                <h2 class="section-header">Choose a template: </h2>
                <select id="email-templates" class="flex1" name="templates">
                    <% var options = []; %>
                    <% for (var template of templates) { %>
                    <option data-subject= "<%= template.subject %>" data-body= "<%= template.body_text %>"} ><%= template.title %></option>
                    <% } %>
                </select>
            </div>
    
            <div id="email-subject-container" class="flex-display">
                <h2 class="section-header"> Subject Line: </h2>
                <input id="email-subject-text-area" class="flex1" contentEditable="true" name="subject" style='width:100%'>
            </div>

            <div id="email-body-container" class="flex-display">
                <h2 class="section-header"> Email Body: </h2>
                <textarea id="email-body-text-area" contentEditable="true" name="body"></textarea>
            </div>

            <button class="email-button" id = "sendEmail" onClick="sendEmail()"> Send </button>
        </div>
    </div>
    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    window.onload = function() {
        document.getElementById("email-subject-text-area").value = $("#email-templates").find(':selected').data('subject');
        var body = $("#email-templates").find(':selected').data('body');
        parseLetter(body);
    };

    $("#email-templates").change(function () {
        document.getElementById("email-subject-text-area").value = $(this).find(':selected').data('subject');
        var body =  $(this).find(':selected').data('body');
        parseLetter(body);

    });

    function sendEmail() {
        var id = document.getElementById("formId").innerHTML;
        
        var Email = {
            title: document.getElementById("email-templates").value,
            subject: document.getElementById("email-subject-text-area").value,
            body_text: document.getElementById("email-body-text-area").value
        };

        $.ajax({
            url: 'http://localhost:3000/letter-preview',
            data: {
                id: id,
                Email: Email
            },
            type: 'POST',
            complete: function() {
                console.log('worked');
                window.location.href = 'http://localhost:3000/recommender-dashboard';
            },
            error: function () {
                console.log('error')
            }
        })
            
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }
</script>
</html>
