<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/letter-preview.css"/>
        <link rel="stylesheet" type="text/css" href="/css/modal.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="/css/email.css"/> -->
        <link rel="stylesheet" type="text/css" href="/css/all.css"/>
        <!--<link rel="stylesheet" type="text/css" href="/css/template-editor.css"/>-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/letter-preview.js" id="'<%= id %>'"></script>
        <script type="text/javascript" src="/javascripts/html2pdf.bundle.min.js" id="'<%= id %>'"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.1/trix.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    </head>
    <body onload="onLoad()">


    <div class="background">
        <header>
            <% include ../partials/header %>
        </header> 
        <p id="letter-preview-heading" class="title">Preview Template </p>
        <p id="" class="letter-preview-subheading">Send an email to <%= title %></p>
        <p id="edit-heading" class="letter-preview-subheading">Click to edit </p>


        <div style="display: none;" id="formId" value="<%= id %>"><%= id %></div>
        <div style="display: none;" id="form" value="<%= form %>"><%= form %></div>


        <!-- Letter Preview Container -->
        <div id="outer-container">
            
        </div>

        <!-- Save and Cancel Letter Preview Edit -->
        <div id="add-question-modal">
            <div id="letter-preview-modal" class="inside">

                <form class="ui form example">
                    <p class="modal-title"> Edit Template </p>
                    <div class="ui message error"></div>

                    <input id="content" value="" type="hidden" name="content">
                    <trix-editor input="content"></trix-editor>

                </form>

                <div class="flex-row">
                    <button id="save-btn" class="convert-pdf modal-btns" onclick="saveEditModal()">Save</button>
                    <button id="cancel-btn" class="convert-pdf modal-btns" onclick="cancelEditModal()">Cancel</button>
                </div>

            </div>
        </div>



        <!-- Add date to letter -->
        <div id="date-picker">
            <p id="add-date-heading" class="section-header">Add Date: </p>
            <input type="date" name="date" id="date">
        </div>
            
        <!-- Adding the save to pdf file -->
        <button class="download-button" id="downloadButton" onClick="downloadLetter()"> Download Letter</button>
    </div>
    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    window.onload = function() {
        onLoad();
        document.getElementById("email-subject-text-area").value = $("#email-templates").find(':selected').data('subject');
        var body = $("#email-templates").find(':selected').data('body');
        parseEmailLetter(body);
    };

    $("#email-templates").change(function () {
        document.getElementById("email-subject-text-area").value = $(this).find(':selected').data('subject');
        var body =  $(this).find(':selected').data('body');
        parseEmailLetter(body);

    });

    function sendEmail() {
        var id = document.getElementById("formId").innerHTML;
        
        var Email = {
            title: document.getElementById("email-templates").value,
            subject: document.getElementById("email-subject-text-area").value,
            body_text: document.getElementById("email-body-text-area").value
        };

        $.ajax({
            url: 'http://localhost:3000/letter-preview',
            data: {
                id: id,
                Email: Email
            },
            type: 'POST',
            complete: function() {
                console.log('worked');
                window.location.href = 'http://localhost:3000/recommender-dashboard';
            },
            error: function () {
                console.log('error')
            }
        })
            
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }
</script>
</html>
