<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/letter-preview.css"/>
    <link rel="stylesheet" type="text/css" href="/css/email.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/template-editor.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script type="text/javascript" src="/javascripts/letter-preview.js" id="'<%= id %>'"></script>
    <script type="text/javascript" src="/javascripts/html2pdf.bundle.min.js" id="'<%= id %>'"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.1/trix.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>

<div class="background">
 <header>
<% include ../partials/header %></header> 
<p class="title">send a confirmation email for <%= title %></p>

</body>
<form class="input-form">
    <h2 class="section-header"> Choose a template: </h2>
    <div id="name-container">
    <select id="email-templates" name="templates">
        <% var options = []; %>
        <% for (var template of templates) { %>
          <option data-subject= "<%= template.subject %>" data-body= "<%= template.body_text %>"} ><%= template.title %></option>
        <% } %>
    </select>
    
    <div id="email-subject-container">
        <input id="email-subject-text-area" contentEditable="true" name="subject"  style='width:100%' >
    </div>

    <div id="email-body-container">
        <div id="email-body-text-area" contentEditable="true" name="body"/>
    </div>
    <button class="email-button" id = "sendEmail" onClick= "addEmailHistory()"> Send </button>
    </div>
</form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    window.onload = function() {
        document.getElementById("email-subject-text-area").value = $("#email-templates").find(':selected').data('subject');
        parseLetter( $("#email-templates").find(':selected').data('body') );
    };

    $("#email-templates").change(function () {
        document.getElementById("email-subject-text-area").value = $(this).find(':selected').data('subject');
        // document.getElementById("email-body-text-area").value = $(this).find(':selected').data('body');
        // parseLetter($(this).find(':selected').data('body'));
        var val = $(this).find(':selected').data('body');
        var theDiv = document.getElementById("email-body-text-area");
        var content = document.createTextNode(" "+ val);
        theDiv.appendChild(content);
    });
</script>
</html>
