<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <div class="body">
      <div class="user-profile">
        <h1><%= title %></h1>
        <form class="user-profile-form">
          <div class="form-entry">
            <label for="fname"> First name: </label><br />
            <input id="fname" name="fname" class="text-input" required />
          </div>

          <div class="form-entry">
            <label for="mname"> Middle name: </label><br />
            <input id="mname" name="mname" class="text-input" />
          </div>

          <div class="form-entry">
            <label for="lname"> Last name: </label><br />
            <input id="lname" name="lname" class="text-input" required />
          </div>

          <div class="form-entry">
            <label for="titles"> Titles: </label><br />
            <textarea
              id="titles"
              name="titles"
              class="scrollable-textbox"
              required
            >
            </textarea>
          </div>

          <div class="form-entry">
            <label for="telephone"> Telephone: </label><br />
            <input
              id="telephone"
              name="telephone"
              type="tel"
              class="text-input"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              required
            />
          </div>

          <div class="form-entry">
            <label for="school"> School: </label><br />
            <textarea
              id="school"
              name="school"
              class="scrollable-textbox"
              required
            ></textarea>
          </div>

          <div class="form-entry">
            <label for="address"> Address: </label><br />
            <textarea
              id="address"
              name="address"
              class="scrollable-textbox"
              required
            ></textarea>
          </div>
          <button type="button" onclick="return updateProfile()">
            Apply Changes
          </button>
        </form>
      </div>
    </div>
  </body>
  <script>
    var fName = "<%= fname %>";
    var mName = "<%= mname %>";
    var lName = "<%= lname %>";
    var Titles = "<%= titles %>";
    var tel = "<%=phone%>";
    var School = "<%= school %>";
    var addr = "<%= address %> ";

    document.getElementById("fname").value = fName;
    document.getElementById("mname").value = mName;
    document.getElementById("lname").value = lName;
    document.getElementById("titles").value = Titles;
    document.getElementById("telephone").value = tel;
    document.getElementById("school").value = School;
    document.getElementById("address").value = addr;
  </script>
  <script src="/javascripts/profile.js"></script>
</html>
