<!DOCTYPE html>
<html>
<head>
    <title>Letter of Recommendation Generator</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/recommender-dashboard.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/table.css"/>
    <link rel="stylesheet" type="text/css" href="/css/modal.css"/>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<p class="title">RECOMMENDATIONS</p>
<div id = "DefaultEmailModal" Class="modal">
    <div class="modal-content">
        <div class="close-container">
            <span class="close" onclick="closeSaveModal()">&times;</span>
        </div>
        <p class="modal-title">Save it as a default template?</p>
        <br>
        <br>
        <button id = "yes" onclick="saveDefaultTemplate()"> Yes </button>
        <button id = "no" onclick="closeSaveModal()"> No </button>
    </div>
</div>

<div id="myModal" class="modal">
    <div id="recommendations-modal" class="modal-content">
        <div class="close-container">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <p class="modal-title">Enter Email</p>
        <form class="input-form" method="POST" action="/recommender-dashboard">
            <div class="input-container">
                <input class="input-text" type="text" name="email">
                <select class="input-dropdown" name="templateId">
                    <% for (var template of templates) { %>
                    <option value=<%= template._id %>><%= template.name %></option>
                    <% } %>
                </select>
            </div>
            <br>
            <br>
            <div class="email-container">
                <div class="input-container">
                    <p class="subject-text"> Subject: </p>
                    <input class="input-text" id="subject" type="text" name="subject_text" value="<%= subject%>" >
                    <!-- <button id = "Edit"> Edit </button> -->
                    <button id = "Save" type="button" onclick="openSaveDefaultEmailModal()" > Save </button>
                </div>
                <br>
                <textarea id="body-text" name="body_text" value = "<%= body%>" ><%= body %></textarea> 
            </div>         
            <input class="input-submit" type="submit" value="Send">
        </form>
    </div>
</div>

<div class="recommendations">
<% if (templates.length) { %>
<div class="add-btn" onclick="openModal()">+ Create Recommendation</div>
<% } %>
<table>
    <thead>
    <tr>
        <td>Timestamp</td>
        <td>Name</td>
        <td>Organization</td>
        <td>Template</td>
        <td class="center">Form Status</td>
        <td class="icons"></td>
    </tr>
    </thead>
    <tbody>
    <% if (!forms.length) { %> 
    <tr>
        <td colspan="6" style="text-align: center;">No Existing Recommendations</td>
    </tr>
    <%   } else {
            for (var form of forms) { %>
    <tr>
        <% if (!form.meta.submitted) {%>
            <td><%= form.meta.sent.toDateString()%><br><%= form.meta.sent.toLocaleTimeString('en-US')%></td>
        <% } else { %>
            <td><%= form.meta.submitted.toDateString()%><br><%= form.meta.sent.toLocaleTimeString('en-US')%></td>
        <% } %>
        <td><%= form.email %></td>
        <td class="center"><%= form.organization %></td>
        <td><%= form.template.name %></td>
        <td class="center">
            <% if (form.status == 'Sent') { %>
            <img class="icon" src="/images/red_x.png"/>
            <% } else { %>
            <img class="icon" src="/images/green_checkmark.png"/>
            <% } %>
        </td>
        <td class="center">
            <img class="icon clickable" title="View History" src="/images/history.png" onclick="openHistory(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>)"/>
            <% if (form.email_sent == false) { %>
            <img class="icon clickable" title="Preview Email" src="/images/email_incomplete.png" onclick="openEmailPreview(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>, '<%= form.status %>')"/>
            <% } else { %>
            <img class="icon clickable" title="Preview Email" src="/images/email_complete.png" onclick="openEmailPreview(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>, '<%= form.status %>')"/>
            <% } %>
            <img class="icon clickable" title="View Responses" src="/images/response.png" onclick="openResponses(<%= JSON.stringify({
                id: form._id
            }) %>, '<%= form.status %>')"/>
            <img class="icon clickable" title="Preview Letter" src="/images/preview.png" onclick="openLetterPreview(<%= JSON.stringify({
                id: form._id
            }) %>, '<%= form.status %>')"/>
            <img class="icon clickable" title="Delete Letter" src="/images/delete.png" onclick="deleteRow('<%= form._id %>')"/>
        </td>
    </tr>
    <% }} %>
    </tbody>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    // When the user clicks on the button, open the modal
    function openModal() {
       var modal = document.getElementById('myModal');
        modal.style.display = "block";
    }
    function openSaveDefaultEmailModal(){
        var modal = document.getElementById('DefaultEmailModal');
        modal.style.display = "block";

        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }

    function closeSaveModal() {
        var modal = document.getElementById('DefaultEmailModal');
        modal.style.display = "none";

        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    }

    function saveDefaultTemplate(){
        var subject = document.getElementById('subject').value;
        var body = document.getElementById('body-text').value;
        $.ajax({
                url: 'http://localhost:3000/recommender-dashboard/update',
                data: { 
                    subject: subject,
                    body: body
                },
                type: 'POST',
                complete: function() {
                    console.log('worked for saveDefaultTemplate');
                    // window.location.href = getDestinationRoute('http://localhost:3000/letter-preview', params);
                },
                error: function () {
                    console.log('error in saveDefaultTemplate')
                }
            })
        closeSaveModal();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function openLetterPreview(params, status) {
        console.log(status);
        // Check to see if the status is green, if not then show error dialog
        if(status === 'Sent'){
            window.alert("This letter cannot be previewed because the recommendee has not filled out the form!");
        } else {
            console.log(params)
            window.location.href = getDestinationRoute('http://localhost:3000/letter-preview', params);
            // $.ajax({
            //     url: 'http://localhost:3000/recommender-dashboard/drive',
            //     data: {params},
            //     type: 'POST',
            //     complete: function() {
            //         console.log('worked');
            //         window.location.href = getDestinationRoute('http://localhost:3000/letter-preview', params);
            //     },
            //     error: function () {
            //         console.log('error')
            //     }
            // })
            
        }  
    }

    // On click for trash icon
    function deleteRow(id) {
        $.ajax({
            url: 'http://localhost:3000/recommender-dashboard/delete',
            data: {id},
            type: 'POST',
            complete: function () {
                console.log('complete');
                window.location.reload(false);
            },
            error: function () {
                console.log('error');
            }
        });
    }

    function openHistory(params) {
        // Check to see if the status is green, if not then show error dialog
        window.location.href = getDestinationRoute('http://localhost:3000/history', params);
    }

    function openResponses(params) {
        console.log(status);
        // Check to see if the status is green, if not then show error dialog
        if(status === 'Sent'){
            window.alert("Responses cannot be seen because the recommendee has not filled out the form!");
        }else {
            window.location.href = getDestinationRoute('http://localhost:3000/response', params);
        }
    }

    // When the user clicks the preview icon, take them to the letter preview page.
    function openEmailPreview(params, status) {
        console.log(status);
        // Check to see if the status is green, if not then show error dialog
        if(status === 'Sent'){
            window.alert("This letter cannot be previewed because the recommendee has not filled out the form!");
        } else {
            window.location.href = getDestinationRoute('http://localhost:3000/email-letter-preview', params);
        }  
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }

    $("#Edit").click(function(e) {
        e.preventDefault();
        console.log("Edit clicked");
        document.getElementById('body-text').disabled= false;
        document.getElementById('subject').disabled= false;
        document.getElementById('Edit').disabled= true;
        document.getElementById('Save').disabled= false;
    });

</script>
</body>
</html>