<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/recommender-dashboard.css"/>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<h1 class="title"><%= title %></h1>
<% if (templates.length) { %>
<div class="add-btn" onclick="openModal()">+</div>
<% } %>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="close-container">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <p class="modal-title">Enter Email</p>
        <form class="input-form" method="POST" action="/recommender-dashboard">
            <div class="input-container">
                <input class="input-text" type="text" name="email">
                <select class="input-dropdown" name="templateId">
                    <% for (var template of templates) { %>
                    <option value=<%= template._id %>><%= template.name %></option>
                    <% } %>
                </select>
            </div>
            <input class="input-submit" type="submit" value="Send">
        </form>
    </div>
</div>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Template</td>
        <td class="center">Status</td>
        <td class="icons"></td>
    </tr>
    </thead>
    <tbody>
    <% for (var form of forms) { %>
    <tr>
        <td><%= form.email %></td>
        <td><%= form.template.name %></td>
        <td class="center">
            <% if (form.status == 'Sent') { %>
            <img class="icon" src="/images/red_x.png"/>
            <% } else { %>
            <img class="icon" src="/images/green_checkmark.png"/>
            <% } %>
        </td>
        <td class="center">
            <img class="icon" src="/images/history.png" onclick="openHistory(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>)"/>
            <% if (form.email_sent == false) { %>
            <img class="icon" src="/images/mail_not_sent.png" onclick="openLetterPreview(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>, '<%= form.status %>')"/>
            <% } else { %>
            <img class="icon" src="/images/mail_sent.png" onclick="openLetterPreview(<%= JSON.stringify({
                id: form._id, email: form.email
            }) %>, '<%= form.status %>')"/>
            <% } %>
            <img class="icon clickable" src="/images/preview.png"/>
            <img class="icon clickable" src="/images/delete.png" onclick="deleteRow('<%= form._id %>')"/>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    // Get the modal
    var modal = document.getElementById('myModal');

    // When the user clicks on the button, open the modal
    function openModal() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // On click for trash icon
    function deleteRow(id) {
        $.ajax({
            url: 'http://localhost:3000/recommender-dashboard/delete',
            data: {id},
            type: 'POST',
            complete: function () {
                console.log('complete');
                window.location.reload(false);
            },
            error: function () {
                console.log('error');
            }
        });
    }

    function openHistory(params) {
        // Check to see if the status is green, if not then show error dialog
        window.location.href = getDestinationRoute('http://localhost:3000/history', params);
    }

    // When the user clicks the preview icon, take them to the letter preview page.
    function openLetterPreview(params, status) {
        console.log(status);
        // Check to see if the status is green, if not then show error dialog
        if(status === 'Sent'){
            window.alert("This letter cannot be previewed because the recommendee has not filled out the form!");
        } else {
            window.location.href = getDestinationRoute('http://localhost:3000/letter-preview', params);
        }  
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }

</script>
</body>
</html>