<!DOCTYPE html>
<html>
<head>
    <title><% title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/response.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div style="display: none;" id="formId" value="<%= id %>"><%= id %></div>
    <div class = "response">
    <h1 class="title"><%= title%></h1>

    <table>
        <thead>
        <tr class="center">
            <td>Question</td>
            <td>Answer</td>
        </tr>
        </thead>
        <tbody>
        <% for (var q=0; q < questions.length; q++) { %>
        <tr>
            <td width="60%">
               <div>
                    <%= questions[q] %>
               </div> 
            </td>
            <td width="40%">
                <div id="responses-container" contenteditable="true">
                        <%= responses[q].response %>
                </div>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    </div>
    <div class="flex-row">
        <button id="save-button" onclick="saveEditedAnswers()">Save</button>
    </div>
</body>
<script>
    
    function saveEditedAnswers(){
        console.log("went into saveEditedAnswers");
        var id = document.getElementById("formId").innerHTML;
        // var responseHTML = document.getElementById("responses-container");
        var responseHTML = document.querySelectorAll("[id=responses-container]");
        // var responseHTML = document.querySelectorAll("#responses-container]");
        var editedResponses = [];
        for(i=0; i < responseHTML.length; i++) {
            console.log("responseHTML= " + responseHTML[i].innerHTML + "\n");
            editedResponses.push(responseHTML[i].innerHTML);
        }
        console.log("length: " + editedResponses.length);
        $.ajax({
                url: 'http://localhost:3000/response/update',
                data: { 
                    editedResponses: editedResponses,
                    id: id
                },
                type: 'GET',
                complete: function() {
                    console.log('worked for saveEditedAnswers')
                    window.location.href = 'http://localhost:3000/recommender-dashboard';
                },
                error: function () {
                    console.log('error in saveEditedAnswers')
                }
            })
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }
</script>
</html> 
