<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/css/template-editor.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/template-editor.js" id="<%= id %>" letterheadImgData="<%= letterheadImage %>" footerImgData="<%= footerImage %>"></script>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <h1 class="title"><%= title %></h1>
        
        <h2 class="section-header">Template Name</h2>
        <div id="name-container">
            <input id="name-container-text-field" type="text" class="text-field" placeholder="Enter a template name here..." value="<%= templateName %>"/>
        </div>

        <h2 class="section-header">Upload Letterhead</h2>
        <div class="upload-preview-container">
            <% if(locals.letterheadImage){ %>
                <img id="letterhead-preview" src="<%= letterheadImage %>" alt=""/>
            <% } else{ %>
                <img id="letterhead-preview" src="#" alt=""/>
            <% } %>
            <form id="letterhead-upload">
                <input type="file" name="file" id="letterhead-upload-file" />
                <input type="submit" name="Submit" />
            </form>
        </div>

        <h2 class="section-header">Upload Footer</h2>
        <div class="upload-preview-container">
            <% if(locals.footerImage){ %>
                <img id="footer-preview" src="<%= footerImage %>" alt=""/>
            <% } else{ %>
                <img id="footer-preview" src="#" alt=""/>
            <% } %>
            <form id="footer-upload">
                <input type="file" name="file" id="footer-upload-file" />
                <input type="submit" name="Submit" />
            </form>
        </div>

        <h2 class="section-header">Letter Boilerplate</h2>

        <div id="letter-container">
            <textarea id="letter-text-area"></textarea>
            <h3>&lt!TAG_NAME&gt in the letter will be replaced by the corresponding question's answer</h3>
        </div>

        <h2 class="section-header">Custom Questions</h2>

        <div id="questions-container"></div>

        <button class="large-circle-button" onclick="addQuestion()">+</button>
        <div class="flex-row">
            <button id="save-button" onclick="saveTemplate()">Save</button>
        </div>
    </body>

    <div id="add-question-modal">
        <div class="content">
            <div class="flex-row">
                <h1>Select Question Type</h1>
            </div>
            <div class="flex-row">            
                <button onclick="addTextAnswerQuestion()">Text Answer</button>
            </div>
            <div class="line"></div>
            <div class="flex-row">            
                <button onclick="addRadioButtonQuestion()">Radio Button</button>
            </div>
            <div class="line"></div>
            <div class="flex-row">            
                <button onclick="addCheckboxQuestion()">Checkbox</button>
            </div>
        </div>
    </div>

    <div id="warning-modal">
        <div class="content">
            <div class="flex-row">
                <h1>Are you sure?</h1>
            </div>
            <div class="flex-row">            
                <button onclick="executeWarningModalFunction()">Yes</button>
                <button onclick="hideWarningModal()">No</button>
            </div>
        </div>
    </div>
</html>