<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/template-dashboard.css"/>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<p class="title"><%= title %></p>
<div class="addBtn" onclick="openModal()">+</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="close-container">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <p class="modal-title">Create New Template</p>
        <form class="input-form" method="GET" action="/template-editor">
            <input class="input-text" type="text" name="title">
            <input class="input-submit" type="submit" value="Create">
        </form>
    </div>
</div>
<table>
    <thead>
    <td class="center">Templates</td>
    </thead>
    <tbody>
    <% for (var template of templates) { %>
    <tr>
        <td>
            <div class="template-name"><%= template.name %></div>
            <div class="image-container">
                <img class="icon" src="/images/pencil.png" onclick="editTemplate('<%= template._id %>')"/>
                <img class="icon" src="/images/delete.png" onclick="deleteRow('<%= template._id %>')"/>
            </div>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // When the user clicks on the button, open the modal
    function openModal() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        modal.style.display = "none";
    }

    function editTemplate(id) {
        $.ajax({
            url: 'http://localhost:3000/template-editor/edit',
            data: {id},
            type: 'GET',
            complete: function (data) {
                var params = data.responseJSON;
                console.log(params)
                console.log('complete');
                window.location.href = getDestinationRoute('http://localhost:3000/template-editor', params);
            },
            error: function () {
                console.log('error');
            }
        });
    }

    // On click for trash icon
    function deleteRow(id) {
        $.ajax({
            url: 'http://localhost:3000/template-dashboard/delete',
            data: {id},
            type: 'POST',
            complete: function () {
                console.log('complete');
                window.location.reload(false);
            },
            error: function () {
                console.log('error');
            }
        });
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function getDestinationRoute(address, params) {
        return address + '?' + $.param(params);
    }
</script>
</html>