<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/css/template-editor.css" />
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/e558bbfafc.js" crossorigin="anonymous"></script>
<script>
  $(function () {
  $('[data-bs-toggle="popover"]').popover()
  })
</script>

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<body>
  <div id="tmp-editor-cont" class="templates">
    <header>
      <% include ../partials/header %>
    </header>
  </div>
  <div class="body">
    <h1>
      <%= title %>
    </h1>
    <form>
      <input id="template-name" type="text" class="form-control form-control-lg" placeholder="Template Name" value= <%= templateName %>>
      <!-- <div class="card container align-middle no-focus">
        <div class="row">
          <div class="col">
            <h3>Default Questions <span class="info form-text"><svg class="info" id="default-questions-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg></span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            What is your first name?
          </div>
        </div>
        <div class="row">
          <div class="col">
            What is your last name?
          </div>
        </div>
        <div class="row">
          <div class="col">
            What is your preferred personal pronoun (subject)?
          </div>
        </div>
        <div class="row">
          <div class="col">
            What is your preferred personal pronoun (object)?
          </div>
        </div>
        <div class="row">
          <div class="col">
            What is your preferred possessive pronoun?
          </div>
        </div>
      </div> -->

      <div class="card container align-middle no-focus" id ="question-box">
        <div class="row">
          <div class="col">
            <h3>Questions <span class="info form-text"><svg class="info" id="additional-questions-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg></span></h3>


            <button id="collapse-btn" class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              How to use?
            </button>

            <div class="collapse" id="collapseExample">

                <div class="card container align-middle">
                  <!-- Question and Dropdown -->
                  <div class="row">
                    <div class="col-8"  data-bs-toggle="popover" data-bs-content="Write the question to ask to the requester. The replied info will replace the tag in the letter" data-bs-placement="top">
                      <input disabled id = "exampleQuestion"type="text" class="form-control" placeholder="Question" value = "What is your major?" data-toggle="popover" data-content="And here's some amazing content. It's very engaging. Right?">
                    </div>
      
                    <div class="col-4"  data-bs-toggle="popover" data-bs-content="Choose the type of the question." data-bs-placement="top">
                      <select disabled class="form-select" id = "exampleSelect">
                        <option value="Text">Text</option>
                        <option selected="selected" value="Radio Button">Radio Button</option>
                        <option value="Checkboxes">Checkboxes</option>
                      </select>
                    </div>
                  </div>
          
                  <!-- Options -->
                  <div class="options">
                    <div class="row">
                      <div class="col-radio-input" data-bs-toggle="popover" data-bs-content="You can customize the options for the requester to choose." data-bs-placement="right">
                        <input disabled type="text" class="form-control" placeholder="Computer Science" value = "Computer Science">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-radio-input"  data-bs-toggle="popover" data-bs-content="You can have up to 9 options per question." data-bs-placement="left">
                        <input disabled type="text" class="form-control" placeholder="Business" value = "Business">
                      </div>
                    </div>
                    <!-- Add Option Button -->
                    <row class="row">
                      <div class="col-radio-input">
                        <button disabled type="button" class="add-btn add-options-btn">Add Option</button>
                      </div>
                    </row>
                  </div>
          
                  <!-- Tag  -->
                  <div class="row">
                    <div class="col-4" data-bs-toggle="popover" data-bs-content="Text here will be used to display the correspoing tag in the tag boilerplate." data-bs-placement="right">
                      <input disabled type="text" class="form-control" placeholder="Major" value = "Major">
                    </div>
                  </div>
                </div>

            </div>
            
          </div>
          
         
      </div>
      </div>
      
      <!-- Card Placeholder-->
      <!-- <div class="card container align-middle">
        Question and Dropdown
        <div class="row">
          <div class="col-8">
            <input type="text" class="form-control question-input" placeholder="Question">
          </div>
          <div class="col-4">
            <select class="form-select">
              <option value="Text">Text</option>
              <option value="Multiple Choice">Multiple Choice</option>
              <option value="Checkboxes">Checkboxes</option>
            </select>
          </div>
        </div>

        Options
        <div class="options d-none">
          <div class="row">
            <div class="col-radio-input">
              <input type="text" class="form-control option-input" placeholder="Option">
            </div>
            <div class="col-radio-delete">
              <i class="fas fa-times"></i>
            </div>
          </div>
          Add Option Button
          <row class="row">
            <div class="col-radio-input">
              <button type="button" class="add-btn add-options-btn">Add Option</button>
            </div>
          </row>
        </div>

        Tag 
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" placeholder="Tag">
          </div>
          <div class="col align-self-end">
            <i class="fas fa-trash float-end delete-question-icon"></i>
          </div>
        </div>
      </div> -->
      <!-- Card End -->
    </form>
    <button type="button" class="add-btn add-questions-btn">Add Question</button>

    <div class="card container">
      <div class="row">
        <div class="col">
          <h3>Letter Boilerplate</h3>
        </div>
      </div>
      <div class="row tags">
        <div class="col-sm-auto tag-header">
          Tags: 
        </div>
        <!-- <div class="col-sm-auto tag" data-value="First Name">
          First Name
        </div>
        <div class="col-sm-auto tag" data-value="Last Name">
          Last Name
        </div>
        <div class="col-sm-auto tag" data-value="Pronoun (subject)">
          Pronoun (subject)
        </div>
        <div class="col-sm-auto tag" data-value="Pronoun (object)">
          Pronoun (object)
        </div>
        <div class="col-sm-auto tag" data-value="Possessive pronoun">
          Possessive pronoun
        </div> -->
      </div>
      <!-- Create the editor container -->
      <div id="editor">
      </div>
    </div>

    <button type="button" class="add-btn save-btn">Save Template</button>


  <!-- Modal Component-->
  <button style="display: none;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="open-modal">
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="instructions">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Include the Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>

  var toolbarOptions = [
      [{ header: [1, 2, 3, false] }],
      ['bold', 'italic', 'underline'] ,
      [{'list' : 'ordered'}, {'list' : 'bullet'}],
      [{ 'align': 'justify'}, {'align': 'center'}, {'align': 'right'}, {'align': null}]
    ];


  var quill = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions
  },
  theme: 'snow'  // or 'bubble'
});




</script>
<script type="text/javascript" src="/javascripts/template-editor.js" id="<%= id %>"
  letterheadImgData="<%= letterheadImage %>" footerImgData="<%= footerImage %>"
  saveSwitchData="<%= saveSwitch %>"></script>
</html>

